{% extends "base.jinja" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block content %}
  <button id="start">
      Start Recording
    </button>
    <button id="stop" disabled>
      Stop Recording
    </button>
    <video autoplay />
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
{% endblock %}